.oculto {
    display: none;
}
h1 {
    color: red;
}
input {
    display: block;
}
label {
    display: block;
}
#saludo {
    text-align: center;
    font-size: 30px;
}
.card {
    border-radius: 0.3cm;
}

/*
<h1 id="saludo">Bienvenido!</h1>
        <form>
            <div class="form-group">
                <label>ingrese numero de integrantes</label>
                    <input type="text" id="integrantes"/><button type="submit" id="boton-siguiente" class="btn btn-primary">siguiente</button>
                    <button id="boton-calcular" class="oculto">calcular</button>
                    <button id="boton-reiniciar" class="oculto" type="reset">reiniciar</button>
                </label> 
            </div>   
        </form>
        <div id="resultados" class="oculto">
        <li class="mayor-edad"></li>
        <li class="menor-edad"></li>
        <li class="promedio-edad"></li>
        </div>
*/