.oculto {
    display: none;
}
h1 {
    color: red;
}
input {
    display: block;
}
label {
    display: block;
}
#saludo {
    text-align: center;
    font-size: 30px;
}
.card {
    border-radius: 0.3cm;
}

.btn {
    margin-top: 7px;
}

